aiofiles
aiohttp[speedups]
beautifulsoup4
covid
cowpy
dnspython
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
hachoir
heroku3
html-telegraph-poster
motor
oauth2client
Pillow
psutil
pybase64
git+https://github.com/aftahbagas/pyrogram.git
pySmartDL
python-dotenv
pytz
rarfile
removebg
requests
git+https://github.com/aftahbagas/search-engine-parser
selenium
setuptools
spamwatch
speedtest-cli
stagger
telegraph
tgcrypto
urbandict
wget
wikipedia
git+https://github.com/ytdl-org/youtube-dl
git+https://github.com/Nekos-life/Async-nekos.life-wrapper
ruamel.yaml
ujson
youtube-search-python
git+https://github.com/aftahbagas/google-images-download.git
feedparser
